<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="container">
        

 
    <header>
            <a href="index.html"> <img src="images/logo.png" alt="Foward Fitness Club logo" title="Lần sinh nhật lần thứ 117 của Evelyn Dove" height="275" width="845">    </a>
    </header>

    <nav>
                <a href="index.html"> Home </a> &nbsp; &nbsp; <!--&nbsp là dấu cách khoảng cách-->

                <a href="about.html"> About Us </a> &nbsp; &nbsp;

                <a href="class.html"> Classes </a>&nbsp; &nbsp;

                <a href="nutrition.html"> Nutrition </a>&nbsp; &nbsp;
 
                <a href="contact.html"> Contact Us </a>     
    </nav>

    <main>
            <p>
                    <br>
                    Welcome to Forward Fitness Club. Our mission is to help our clients meet their Fitness and Nutrition goals.
                </p>
                <p>
                    If you have struggled with getting healthy and need the motivation and resources to make healthy lifestyle change contact us today. 
                    Our facility includes state-of-the-art equitment, convenient group trainning classes and nutrition tips and information to keep you 
                    healthy.
                </p>
                <p>
                    We provide a Free one-week membership so you can experience the benefits of our equitment and facility.
                    This one-week trial gives you complete access to our equitment, trainning classes, and nutrition planning.
                    Contact us today to start your free trial!
                </p>
        
    </main>

    <footer>
        &copy; Copyright 2019. All Rights Reserved. <br>
        <a href="mailto:forwardfitness@club.net"> forwardfitness@club.net </a>
    </footer>

    </div>
    
</body>
</html>